@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body-color: #ed4a44;
  --white-navbar: #ebebeb;
  --primary-black-navbar: #1a1a1a;
  --secondary-black-navbar: #000000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  margin: 16px;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.2'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: -999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.left-nav {
  position: relative;
  background-color: var(--white-navbar);
  border-radius: 999px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 8px 18px;
  font-weight: 500;
  width: fit-content;
}

.left-nav span {
  display: flex;
  letter-spacing: -10px;
  font-size: 50px;
  max-width: fit-content;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  text-align: center;
  transform: translateX(-4px);
}

.spin-text {
  position: absolute;
  right: 90px;
  top: 10px;
  animation: rotate360 45s linear infinite;
  margin: 50px auto;
  display: inline-block;
  transform-origin: center center;
}

.spin-text span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 100;
  font-size: 24px;
  color: var(--secondary-black-navbar);
}

.spin-text span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-50px);
}
.spin-text span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg) translateY(-50px);
}
.spin-text span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-50px);
}
.spin-text span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(135deg) translateY(-50px);
}
.spin-text span:nth-child(5) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-50px);
}
.spin-text span:nth-child(6) {
  transform: translate(-50%, -50%) rotate(225deg) translateY(-50px);
}
.spin-text span:nth-child(7) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-50px);
}
.spin-text span:nth-child(8) {
  transform: translate(-50%, -50%) rotate(315deg) translateY(-50px);
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.mid-nav ul {
  background-color: var(--white-navbar);
  border-radius: 999px;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 8px 28px;
  color: var(--primary-black-navbar);
  gap: 20px;
  min-height: 39px;
  min-width: fit-content;
  text-align: center;
}

.mid-nav ul li {
  font-size: 14px;
}

.right-nav {
  background-color: var(--primary-black-navbar);
  padding: 8px 12px;
  border: solid 2px var(--white-navbar);
  border-radius: 999px;
  color: var(--white-navbar);
  font-size: 14px;
}

hr {
  background-color: var(--secondary-black-navbar);
  border: none;
  height: 1px;
}

.title-header {
  position: relative;
  font-size: 64px;
  font-weight: 900;
  color: var(--white-navbar);
  margin-top: 24px;
  letter-spacing: -2.5px;
  line-height: 56px;
}

.title-header span {
  display: block;
}

.title-header hr {
  margin-top: 42px;
}

.middle-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 8px;
}

.middle-text span {
  display: block;
  color: var(--secondary-black-navbar);
}

.middle-text hr {
  margin-top: 84px;
}

.footer-content {
  font-size: 84px;
  line-height: 148px;
  color: var(--primary-black-navbar);
}

.footer-content span {
  display: block;
}
